%h1= "#{@species.vocab_fishbase_SPECIES_Genus} #{@species.vocab_fishbase_SPECIES_Species}"

%h2 Common Names
%ul
  - @species.common_names.each do |c_name|
    %li= link_to raw(c_name.common_name), "/common_name/#{c_name.vocab_fishbase_COMNAMES_autoctr}"
- if @species.respond_to? :vocab_fishbase_SPECIES_Length
  %h2 Size
  = "#{@species.vocab_fishbase_SPECIES_Length}cm"

- if @species.respond_to? :vocab_fishbase_SPECIES_Comments
  %h2 Biology
  = @species.vocab_fishbase_SPECIES_Comments

%h2 Other details
- if @species.respond_to? :vocab_fishbase_SPECIES_UsedasBait
  = "Used as bait? #{@species.vocab_fishbase_SPECIES_UsedasBait}"

%h2 Attributes
%ul
- @species.attributes.each do |k, v|
  %li= "#{k} (#{v})"
