%h1= "#{@species.SPECIES_Genus} #{@species.SPECIES_Species}"

%h2 Common Names
%ul
  - @species.COMNAMES_SpecCode.each do |c_name|
    %li= link_to raw(c_name.common_name), "/common_name/#{c_name.COMNAMES_autoctr}"
- if @species.respond_to? :SPECIES_Length
  %h2 Size
  = "#{@species.SPECIES_Length}cm"

- if @species.respond_to? :SPECIES_Comments
  %h2 Biology
  = @species.SPECIES_Comments

%h2 Other details
- if @species.respond_to? :SPECIES_UsedasBait
  = "Used as bait? #{@species.SPECIES_UsedasBait}"

%h2 Attributes
%ul
- @species.attributes.each do |k, v|
  %li= "#{k} (#{v})"
