%h1= raw(@common_name.common_name)
%p
  Common name for
  = link_to "#{@common_name.vocab_fishbase_COMNAMES_SpecCode.vocab_fishbase_SPECIES_Genus} #{@common_name.vocab_fishbase_COMNAMES_SpecCode.vocab_fishbase_SPECIES_Species}", "/species/#{@common_name.vocab_fishbase_COMNAMES_SpecCode.vocab_fishbase_SPECIES_SpecCode}"

%h2 Attributes
%ul
- @common_name.attributes.each do |k, v|
  %li= "#{k} (#{v})"